<div class="card">
    <h1 class="card-header">Pagos</h1>
    <div class="card-body">
        <b>Hola {{user}}</b>
        <br><br>
        <button (click)="requestPayment(10)">Comprar 10</button>
        <br><br>
        <a href="/register">Registrarse</a>
        <a href="/login" class="alongisdeRef">Iniciar sesión</a>
    </div>
</div>
<br>

<form id="payment-form" style="display:none">
    <div id="card-element"></div>
    <button id="submit">
    <div class="spinner hidden" id="spinner"></div>
    <span id="button-text">Pay now</span>
    </button>
    <p id="card-error" role="alert"></p>
    <p class="result-message hidden">
        Payment succeeded, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a>
        Refresh the page to pay again.
    </p>
</form>