<div class="card">
    <h1 class="card-header">Registrar cuenta</h1>
    <div class="card-body">
        <input type="email" [(ngModel)]="email" placeholder="Correo" class="formulario">
        <br><br>
        <input type="text" [(ngModel)]="name" placeholder="Usuario" class="formulario">
        <br><br>
        <input type="password" [(ngModel)]="pwd1" placeholder="Contraseña" class="formulario">
        <br><br>
        <input type="password" [(ngModel)]="pwd2" placeholder="Repite la contraseña" class="formulario">
        <br><br>
        <button (click)="register()">Registrarse</button>
        <a href="/login" class="alongisdeRef">Iniciar sesión</a>
    </div>
</div>